
img{
    width: 100%;
}


body, html{
    height: 80%;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

.imgContainer1{
    width: 100%;
}

.pImg{
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.portada{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    position:absolute;
    top: -10%; 
    left: 0%;
    font-family: 'Montserrat', sans-serif;
}

.portada h1{
    font-size: 350px;
    margin-bottom: 10px;
}

.portada h2{
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 70px;
    font-style: bold;
}

h2{
    font-size: 40px;
    font-style: normal;
}

.infoContainer{
    position: absolute;
    top: 110%;
    width: 100%;
    height: 10%;
}

.infoImg{
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.info1{
    position: absolute;
    top: 20%;
    left: 43%;
    color: white;
    width: 50%;
    height: 5%;
}

.info1 h1{
    font-size: 200px;
    text-align: left;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.info1 h2{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

#n1{
    font-size: 120px;
}


.testContainer{
    width: 100%;
    height: 100%;
    position:absolute;
    top:210%;
}

.testimonio{
    text-align: center;
    color: white;
    position:absolute;
    width:55%;
    left:5%;
    top:15%;
    font-style: normal;
}

.testimonio h2{
    font-style: normal;
}

.map{
    width: 100%;
    position:absolute;
    top: 350%;
}

.infogram-embed{
    margin: 5%;
}

.info2container{
    position: absolute;
    top: 514%;
    width: 100%;
}

.info2{
    color: white;
    width: 90%;
    text-align: center;
    position: absolute;
    top: 7%;
    left: 5%;
}

.interactiva{
    width: 100%;
    height: 40%;
    background-color: purple;
    position: absolute;
    top: 604%;
}

.boton{
    position:absolute;
    top: 40%;
    left:28%;
}

button {
    background-color: black;
    border: none;
    height: 100px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #fcfdfc; 
    color: black;
}

footer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 644%;
    background-color: seagreen;
}

.tituloApoyo{
    color: white;
    position: absolute;
    top: 1%;
    left: 27%;
}

.apoyo1{
    width: 20%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.apoyo2{
    width: 20%;
    position: absolute;
    top: 20%;
    left: 40%;
}

.apoyo3{
    width: 20%;
    position: absolute;
    top: 20%;
    left: 70%;
}

.apoyo4{
    width: 20%;
    position: absolute;
    top: 60%;
    left: 10%;
}

.apoyo5{
    width: 20%;
    position: absolute;
    top: 60%;
    left: 40%;
}

.apoyo6{
    width: 20%;
    position: absolute;
    top: 60%;
    left: 70%;
}
